<h1>The interpretation of dreams</h1>
<div>
  <h2>Analyzing your dream</h2>
  <div>
    The main persona: <%= @dream.maincharacter %>
  </div>
  <div>
    The emotion of your dream: <%= @dream.emotion %>
  </div>
  <div>
    The action of your dream: <%= @dream.emotion %>
  </div>
  <div>
    The location of your dream: <%= @dream.location %>
  </div>
  <div>
    Further details for your dream: <%= @dream.description %>
  </div>
</div>
<div data-controller='dream-analysis'>
</div>
